In [1]:
import pandas as pd
import sqlite3

In [3]:
connection = sqlite3.connect("books.db")
crsr = connection.cursor()

In [4]:
def sql_query(query):
    crsr.execute(query)
    ans = crsr.fetchall()
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [6]:
res = crsr.execute("SELECT name FROM sqlite_master WHERE type='table'")
for name in res:
    print(name[0])

books

In [10]:
query = "SELECT * FROM books;"

result_df = sql_query(query)
result_df

,id,published,author,title,first_sentence
0,None,2014,Ann Leckie,Ancillary Justice,"The body lay naked and facedown, a deathly gra..."
1,None,2013,John Scalzi,Redshirts,"From the top of the large boulder he sat on, E..."
2,None,2012,Jo Walton,Among Others,The Phurnacite factory in Abercwmboi killed al...
3,None,2011,Connie Willis,"Blackout, All Clear (Vol. 2 - Blackout)",By noon Michael and Merope still hadn’t return...
4,None,2010,Paolo Bacigalupi,The Windup Girl,“No! I don’t want the mangosteen.”
...,...,...,...,...,...
62,None,1954,Ray Bradbury,Fahrenheit 451,It was a pleasure to burn.
63,None,1953,Alfred Bester,The Demolished Man,Explosion!
64,None,1951,Robert A. Heinlein,Farmer in the Sky,Our troop had been up in the High Sierras that...
65,None,1946,Isaac Asimov,The Mule,"Bel Riose traveled without escort, which is no..."
66,None,1939,T. H. White,The Sword in the Stone (Part 1 of The Once and...,ender